@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

}

body {

    background-image: linear-gradient(#908f8f, #555353, #343434,#050505);

}

.navigation-bar {


    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(#908f8f, #555353, #343434,#050505);

}
.navigation-bar .category {
    
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin: 25px;

}
.navigation-bar nav{

    width: 140px;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 5px;

    background-color: white;
    border-radius: 20px;
    
}
.navigation-bar img {

    width: 120px;
    height: 120px;

}

.wallpaper img {

    width: 100vw;
    height: 600px;
    padding: 10px;
    z-index: 2px;
}

.theme {
   
    font-size: 45px;
    font-family: 'Combo', cursive;
    text-align: center;
    padding: 20px;
    color: white;
    
}

.main-cards {

    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    

}

.card {

    
    width: 370px;
    height: 530px;
    overflow:auto;
    background-color:  black;
    border-radius: 30px;
    padding: 10px 0px 0px 10px;
    
}
::-webkit-scrollbar{
    
    width: 5px;
    
}
::-webkit-scrollbar-track{

    background: transparent;

}
::-webkit-scrollbar-thumb{


    background-color: transparent;
    border-radius: 30px;
    border: 3px solid transparent;

}
.card img {

    width: 350px;
    height: 220px;
    border-radius: 30px;

}
.card h2 {

    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight:900;
    color: white;

}
.card p {

    color: white;
    font-size: 20px;
    font-family: 'Combo', cursive;
}
.card span {

    color: red;
    font-size: 22px;

}
.main-video{

    margin-top: 40px;

}
.video {
    
    width: 80vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 30px;
    background: url(https://img.myloview.com.br/fotomurais/campo-de-futebol-com-luzes-700-154128752.jpg);
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
   
    position: relative;
    margin: 0 auto;
}
.videos {

    position: relative;
    width: 480px;
    height: 300px;

}

footer {

    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding: 15px;
    background-image: linear-gradient(#908f8f, #555353, #343434,#050505);

}
footer h2 {

    padding: 8px;
    font-size: 30px;
    font-family: 'Combo', cursive;
    color: white;

}
footer img {

    width: 40px;
    height: 40px;

}
.git img {

    border-radius: 5px;

}
.icons {

    display: flex;
    gap: 20px;

}

@media (max-width: 420px){

    .navigation-bar {

        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .navigation-bar .category {
    
        flex-direction: column;
        gap: 20px;
        position: relative;
        bottom: 20px;
    }
    .navigation-bar img {

        width: 120px;
        height: 120px;
        margin-bottom: 20px;
        
    }

    .main-cards {

        flex-direction: column;
        align-items: center;
        gap: 30px
    
    }

    .video {

        display: flex;
        flex-direction: column;
        align-items: center;
     
    }
    .videos {

        width: 280px;
        height: 200px;

    }

    footer {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
}